//
// Danger
//

// light / dark
@color-light-danger-50: #fae6e6;
@color-light-danger-100: #f5c9c9;
@color-light-danger-200: #f7a1a1;
@color-light-danger-300: #f48282;
@color-light-danger-400: #f26363;
@color-light-danger-500: #ef4444;
@color-light-danger-600: #e02f26;
@color-light-danger-700: #b91c1c;
@color-light-danger-800: #991b1b;
@color-light-danger-900: #700000;

@color-dark-danger-50: rgba(239, 68, 68, 0.1);
@color-dark-danger-100: rgba(239, 68, 68, 0.2);
@color-dark-danger-200: rgba(239, 68, 68, 0.35);
@color-dark-danger-300: rgba(239, 68, 68, 0.5);
@color-dark-danger-400: rgba(239, 68, 68, 0.7);
@color-dark-danger-500: #ef4444;
@color-dark-danger-600: #f15f5f;
@color-dark-danger-700: #f58585;
@color-dark-danger-800: #f8aaaa;
@color-dark-danger-900: #f5c9c9;
