//
// Green
//

// light
@color-light-green-50: #edfff9;
@color-light-green-100: #b6f2de;
@color-light-green-200: #8ae5c7;
@color-light-green-300: #68e0b8;
@color-light-green-400: #39c99a;
@color-light-green-500: #10b981;
@color-light-green-600: #0d9a6b;
@color-light-green-700: #047851;
@color-light-green-800: #085c40;
@color-light-green-900: #064e36;

// dark
@color-dark-green-50: #1D363E;
@color-dark-green-100: #1C4446;
@color-dark-green-200: #1A534D;
@color-dark-green-300: #17705C;
@color-dark-green-400: #148D6B;
@color-dark-green-500: #11B27D;
@color-dark-green-600: #11c086;
@color-dark-green-700: #39c99a;
@color-dark-green-800: #68e0b8;
@color-dark-green-900: #8ae5c7;
