@import (reference) "../../variables";
@import (reference) "../../ui";

.gkit-multi-select {
  position: relative;

  &.full-width {
    width: 100%;
  }

  .multi-select-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--gkit-color-neutral-0);
    cursor: pointer;
    border: 1px solid var(--gkit-color-neutral-200);

    &.small {
      border-radius: 0.625rem;
      padding: calc(0.625rem - 1px) 0.75rem;
    }

    &.large {
      border-radius: 0.75rem;
      padding: calc(0.625rem - 1px) 1rem;
    }

    .multi-select-label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;
      color: var(--gkit-color-neutral-500);
      font-weight: 400;
      outline: none;

      svg {
        cursor: pointer;
      }

      &.small {
        .text-sm();

        @media @mobile-portrait, @mobile-landscape {
          .text-base();
        }

        min-height: 1.25rem;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }

      &.large {
        .text-base();
        min-height: 1.75rem;

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      .multi-select-count {
        display: flex;
        gap: 0.125rem;
        align-items: center;
        justify-content: center;
        width: max-content;
        font-weight: @font-weight-bold;
        border-radius: 1rem;
        background-color: var(--gkit-color-neutral-100);
        color: var(--gkit-color-neutral-800);
        text-align: center;

        &.small {
          .text-xs();
          padding: 0.125rem 0.625rem;
        }

        &.large {
          .text-sm();
          padding: 0.25rem 0.75rem;
        }

        .gkit-svg-icon {
          width: 0.75rem;
          height: 0.75rem;
          color: var(--gkit-color-neutral-400);
        }
      }

      &.selected {
        color: var(--gkit-color-neutral-900);
      }

      &.disabled {
        color: var(--gkit-color-neutral-300);
      }
    }

    .multi-select-chevron {
      display: flex;
      color: var(--gkit-color-neutral-500);
      justify-content: flex-end;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;

      .gkit-svg-icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &.hover,
    &:hover {
      border-color: var(--gkit-color-primary-500);
    }

    &:not(.disabled) {
      &.focus,
      &:focus {
        .pseudo-element-with-border();
      }
    }

    &.error {
      border-color: var(--gkit-color-danger-500);
    }

    &.disabled {
      background: var(--gkit-color-neutral-100);
      border-color: var(--gkit-color-neutral-200);
    }
  }

  .multi-select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--gkit-color-neutral-0);
    margin: 0.3rem 0;
    padding: 0.25rem;
    border-radius: 0.75rem;
    list-style-type: none;
    z-index: 1;
    max-height: 280px;
    overflow: auto;
    min-width: 100%;
    border: 1px solid var(--gkit-color-neutral-200);

    .gkit-multi-select-search {
      margin: 0.25rem;
      color: var(--gkit-color-neutral-500);
      background: var(--gkit-color-neutral-50);
      min-width: 100px;

      .text-field-wrapper {
        gap: 0.5rem;
      }

      .search-icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    .multi-select-option {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      padding: 0.5rem 1rem;

      .multi-select-checkbox {
        width: 100%;
      }

      &.small {
        .text-sm();
        border-radius: 0.625rem;
      }

      &.large {
        .text-base();
        border-radius: 0.75rem;
      }

      &:hover {
        background: var(--gkit-color-neutral-100);
      }

      &.disabled {
        .multi-select-checkbox {
          cursor: default;
        }
      }
    }
  }

  .gkit-multiselect-separator {
    border-bottom: 1px solid var(--gkit-color-neutral-500);
    margin-bottom: 0.5rem;
  }

  .gkit-multiselect-group-text {
    padding: 0.5rem 1rem;
    font-weight: @font-weight-bold;
    color: var(--gkit-color-neutral-500);
  }
}
