@import (reference) "../../variables";
@import (reference) "../../ui";

.gkit-switcher-container {
  display: inline-flex;
  background-color: var(--gkit-color-neutral-100);
  border-radius: 8px;
  padding: 0.25rem;
  margin-right: 0.625rem;

  .switcher-item {
    color: var(--gkit-color-neutral-800);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;

    &.medium {
      .text-sm();

      .circle-icon {
        width: 1rem;
        height: 1rem;
      }

      .switcher-span {
        padding: 0.37rem 1rem;
      }
    }

    &.large {
      .text-base();

      .circle-icon {
        width: 1.25rem;
        height: 1.25rem;
      }

      .switcher-span {
        padding: 0.5rem 1.5rem;
      }
    }

    &:hover:not(:disabled) {
      background-color: var(--gkit-color-neutral-200);

      .circle-icon {
        color: var(--gkit-color-neutral-800);
      }
    }

    &:active:not(:disabled) {
      background-color: var(--gkit-color-neutral-0);
      color: var(--gkit-color-primary-700);

      .circle-icon {
        color: var(--gkit-color-primary-700);
      }
    }

    &:disabled {
      color: var(--gkit-color-neutral-400);
      cursor: default;
    }

    &[data-state="on"]:not(:disabled) {
      background-color: var(--gkit-color-neutral-0);
      color: var(--gkit-color-primary-700);
    }

    .switcher-span {
      font-weight: @font-weight-bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
