@import (reference) "../../styles/variables";
@import (reference) "../../styles/ui";

.gkit-tabs {
  display: flex;
  gap: 1.5rem;

  .text-sm();
  .font-bold();
}

.gkit-tab {
  padding-bottom: 1rem;
  border-bottom: 2px solid transparent;

  &:hover,
  &.hover {
    cursor: pointer;
  }
}

.gkit-tab {
  color: @color-light-neutral-500;

  &:hover,
  &.hover {
    color: @color-light-neutral-700;
    border-bottom-color: @color-light-neutral-300;
  }

  &.selected {
    color: @color-light-neutral-800;
    border-bottom-color: @color-light-blue-500;
  }
}

.dark-mode .gkit-tab {
  color: @color-dark-neutral-500;

  &:hover,
  &.hover {
    color: @color-dark-neutral-700;
    border-bottom-color: @color-dark-neutral-300;
  }

  &.selected {
    color: @color-dark-neutral-800;
    border-bottom-color: @color-dark-blue-500;
  }
}
