@import (reference) "../../variables";
@import (reference) "../../ui";

.gkit-text-area {
  background: var(--gkit-color-neutral-0);
  border: 1px solid var(--gkit-color-neutral-200);
  color: var(--gkit-color-neutral-900);
  padding: 0.75rem 1rem;
  cursor: text;

  &.small {
    .text-sm();
    border-radius: 0.625rem;
  }

  &.large {
    .text-base();
    border-radius: 0.75rem;
  }

  &.both {
    resize: both;
  }

  &.horizontal {
    resize: horizontal;
  }

  &.vertical {
    resize: vertical;
  }

  &.hover,
  &:hover {
    border: 1px solid var(--gkit-color-light-primary-500);
  }

  &.focus,
  &:focus {
    .outline();
    .outline-2();
    .outline-offset-2();
    .outline-primary-600();
  }

  &.filled,
  &.error {
    &::placeholder {
      color: var(--gkit-color-neutral-900);
    }
  }

  &.error {
    border: 1px solid var(--gkit-color-danger-500);

    &:focus {
      outline: none;
    }
  }

  &.disabled {
    background: var(--gkit-color-neutral-100);

    &:hover {
      border: 1px solid var(--gkit-color-neutral-200);
    }

    &::placeholder {
      color: var(--gkit-color-neutral-300);
    }
  }
}
