@import (reference) "../../../../variables";
@import (reference) "../../../../ui";

.gkit-inputs-container {
  display: flex;
  flex-direction: column;

  &.small {
    gap: 0.375rem;
  }

  &.large {
    gap: 0.5rem;
  }

  .inputs-container-label {
    color: var(--gkit-color-neutral-800);
    .font-bold();
    cursor: pointer;

    &.small {
      .text-sm();
    }

    &.large {
      .text-base();
    }
  }

  .inputs-container-helper-text {
    color: var(--gkit-color-neutral-500);
    .text-sm();

    &.error {
      color: var(--gkit-color-danger-500);
    }
  }
}
