@import (reference) "../../variables";
@import (reference) "../../ui";

.gkit-select {
  position: relative;
  cursor: pointer;
  background: var(--gkit-color-neutral-0);
  border: 1px solid var(--gkit-color-neutral-200);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-right: 0.75rem;

  & span:first-child {
    text-align: start;
  }

  &.small {
    border-radius: 0.625rem;
    padding: calc(0.625rem - 1px) 0.75rem;
    .text-sm();

    @media @mobile-portrait, @mobile-landscape {
      .text-base();
    }
  }

  &.large {
    border-radius: 0.75rem;
    padding: calc(0.75rem - 1px) 1rem;
    .text-base();
  }

  &[data-placeholder] {
    color: var(--gkit-color-neutral-500);
  }

  &.filled,
  &.error {
    &[data-placeholder] {
      color: var(--gkit-color-neutral-900);
    }
  }

  .select-chevron {
    margin-left: auto;
    display: flex;
    color: var(--gkit-color-neutral-500);

    .gkit-svg-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &.hover,
  &:hover {
    border-color: var(--gkit-color-primary-500);
  }

  &:not(.disabled) {
    &.focus,
    &:focus {
      .pseudo-element-with-border();
    }
  }

  &.error {
    border-color: var(--gkit-color-danger-500);
  }

  &.disabled {
    background: var(--gkit-color-neutral-100);
    border-color: var(--gkit-color-neutral-200);
    color: var(--gkit-color-neutral-300);
  }
}

.gkit-inline-select {
  display: flex;
  align-items: center;
  position: relative;
  left: -0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover {
    background-color: var(--gkit-color-neutral-200);
  }

  &[data-placeholder] {
    color: var(--gkit-color-neutral-500);
  }

  &.small {
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    .text-sm();

    .gkit-svg-icon {
      width: 1rem;
      height: 1rem;
    }
  }

  &.large {
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;
    .text-base();

    .gkit-svg-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .select-chevron {
    margin-left: auto;
    display: flex;
    color: var(--gkit-color-neutral-800);
  }
}

.gkit-select-dropdown {
  padding: 0.25rem;
  position: absolute;
  //in front of the modal
  z-index: var(--gkit-modal-z-index);
  background: var(--gkit-color-neutral-0);
  border-radius: 0.75rem;
  margin-top: 5px;
  max-height: 280px;
  overflow: auto;
  min-width: 100%;
  border: 1px solid var(--gkit-color-neutral-200);

  .gkit-select-search {
    margin: 0.25rem;
    color: var(--gkit-color-neutral-500);
    min-width: 100px;

    .text-field-wrapper {
      gap: 0.5rem;
      background: var(--gkit-color-neutral-50);
    }

    .search-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.gkit-select-option {
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre-wrap;
  padding: 0.5rem 1rem;

  .checkmark-icon {
    margin-left: 0.5rem;
    color: var(--gkit-color-primary-600);
  }

  &.small {
    .text-sm();

    @media @mobile-portrait {
      .text-base();
    }

    border-radius: 0.625rem;
  }

  &.large {
    .text-base();
    border-radius: 0.75rem;
  }

  &[data-highlighted] {
    background: var(--gkit-color-neutral-100);
  }
}

.gkit-select-separator {
  border: 1px solid var(--gkit-color-neutral-200);
}

.gkit-select-group-text {
  padding: 0.5rem 1rem;
  font-weight: @font-weight-bold;
  color: var(--gkit-color-neutral-500);
}

.gkit-select-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1;
  isolation: isolate;
}

.gkit-select-portal-with-search {
  .gkit-select-search {
    //В мобильной версии работает некорректно, пока оставляем только для десктопа. Как вариант, можно будет добавить/переписать селект на кастомный, как multiselect
    //Возможно, будет добавлен в radix https://github.com/radix-ui/primitives/issues/1342
    display: none;
  }

  @media @fullhd, @desktop {
    left: unset !important;
    justify-content: unset !important;

    .gkit-select-search {
      display: flex;
    }
  }
}
