.gkit-modal .modal-wrapper-focus-lock {
  width: 100%;
  height: 100%;
}

.gkit-modal .modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
