@import (reference) "../../variables";
@import (reference) "../../ui";

.gkit-badge {
  display: inline-flex;
  align-items: center;
  border-radius: 0.75rem;
  font-weight: @font-weight-bold;
  cursor: pointer;

  .close-icon {
    width: 0.53rem;
    height: 0.53rem;
    cursor: pointer;
  }

  &.small {
    padding: 2px 0.625rem;
    .text-xs();
    gap: 0 0.25rem;
  }

  &.large {
    padding: 0.25rem 0.75rem;
    .text-sm();
    gap: 0 0.25rem;
  }

  &.secondary {
    &.neutral {
      background-color: var(--gkit-color-neutral-50);
      color: var(--gkit-color-neutral-800);

      .close-icon {
        color: var(--gkit-color-neutral-400);

        &:hover {
          color: var(--gkit-color-neutral-300);
        }
      }
    }

    &.green {
      background-color: var(--gkit-color-green-50);
      color: var(--gkit-color-green-800);

      .close-icon {
        color: var(--gkit-color-green-400);

        &:hover {
          color: var(--gkit-color-green-300);
        }
      }
    }

    &.blue {
      background-color: var(--gkit-color-blue-50);
      color: var(--gkit-color-blue-800);

      .close-icon {
        color: var(--gkit-color-blue-400);

        &:hover {
          color: var(--gkit-color-blue-300);
        }
      }
    }

    &.purple {
      background-color: var(--gkit-color-purple-50);
      color: var(--gkit-color-purple-800);

      .close-icon {
        color: var(--gkit-color-purple-400);

        &:hover {
          color: var(--gkit-color-purple-300);
        }
      }
    }

    &.orange {
      background-color: var(--gkit-color-orange-50);
      color: var(--gkit-color-orange-800);

      .close-icon {
        color: var(--gkit-color-orange-400);

        &:hover {
          color: var(--gkit-color-orange-300);
        }
      }
    }

    &.danger {
      background-color: var(--gkit-color-danger-50);
      color: var(--gkit-color-danger-800);

      .close-icon {
        color: var(--gkit-color-danger-400);

        &:hover {
          color: var(--gkit-color-danger-300);
        }
      }
    }
  }

  &.primary {
    &.neutral {
      background-color: var(--gkit-color-neutral-500);
      color: var(--gkit-color-neutral-0);

      .close-icon {
        color: var(--gkit-color-neutral-200);

        &:hover {
          color: var(--gkit-color-neutral-300);
        }
      }
    }

    &.green {
      background-color: var(--gkit-color-green-500);
      color: var(--gkit-color-neutral-0);

      .close-icon {
        color: var(--gkit-color-green-100);

        &:hover {
          color: var(--gkit-color-green-300);
        }
      }
    }

    &.blue {
      background-color: var(--gkit-color-blue-500);
      color: var(--gkit-color-neutral-0);

      .close-icon {
        color: var(--gkit-color-blue-100);

        &:hover {
          color: var(--gkit-color-blue-300);
        }
      }
    }

    &.purple {
      background-color: var(--gkit-color-purple-500);
      color: var(--gkit-color-neutral-0);

      .close-icon {
        color: var(--gkit-color-purple-100);

        &:hover {
          color: var(--gkit-color-purple-300);
        }
      }
    }

    &.orange {
      background-color: var(--gkit-color-orange-500);
      color: var(--gkit-color-neutral-0);

      .close-icon {
        color: var(--gkit-color-orange-100);

        &:hover {
          color: var(--gkit-color-orange-300);
        }
      }
    }

    &.danger {
      background-color: var(--gkit-color-danger-500);
      color: var(--gkit-color-neutral-0);

      .close-icon {
        color: var(--gkit-color-danger-100);

        &:hover {
          color: var(--gkit-color-danger-300);
        }
      }
    }
  }
}
