@import (reference) "../../../variables";
@import (reference) "../../../ui";

.gkit-text-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .text-field-label {
    color: var(--gkit-color-neutral-800);
    .font-bold();
    cursor: pointer;

    &.small {
      .text-sm();
    }

    &.large {
      .text-base();
    }
  }

  .text-field-helper-text {
    color: var(--gkit-color-neutral-500);
    .text-sm();
  }
}
